@page "/participant/add"
@using CitrsLite.Business.ViewModels.ParticipantViewModels
@using CitrsLite.Business.Enums
@using Microsoft.AspNetCore.Components.Authorization
@inject CitrsLite.Business.Services.ParticipantService participantService
@inject AuthenticationStateProvider authenticationStateProvider

<h2>Participant Form</h2>





<EditForm Model=@Model OnValidSubmit="CreateParticipant">
    <MudGrid Justify="Justify.Center">
        <MudItem xs="12" md="6" xl="4">
            <MudCard>
                <MudCardContent>
                    <MudTextField Label="Name"@bind-Value="Model.Name"/>
                    <MudSelect T="string" Label="Participant Type" @bind-Value="Model.Type">
                        @foreach(var partType in Enum.GetValues(typeof(ParticipantType)))
                        {
                            <MudSelectItem Value="@partType.ToString().Replace("_", " ")"/>
                        }
                    </MudSelect>
                </MudCardContent>
            </MudCard>
        </MudItem>        
        <label>
            <h4>Type</h4>
            <InputSelect Name="type" @bind-Value=Model.Type>
                @foreach (var partType in Enum.GetValues(typeof(ParticipantType)))
                {
                    <option Value="@partType">@partType.ToString().Replace("_", " ")</option>
                }
            </InputSelect>
        </label>
        <p></p>
        <label>
            <h4>Description</h4>
            <InputTextArea @bind-Value=Model.Description></InputTextArea>
        </label>
        <p></p>
        <label>
            <h4>Phone Number</h4>
            <InputText @bind-Value=Model.PhoneNumber></InputText>
        </label>
        <p></p>
        <label>
            <h4>Address</h4>
            <InputText @bind-Value=Model.Address></InputText>
        </label>
        <p></p>
        <label>
            <h4>City</h4>
            <InputText @bind-Value=Model.City></InputText>
        </label>
        <p></p>
        <label>
            <h4>State</h4>
            <InputText @bind-Value=Model.State></InputText>
        </label>
        <p></p>
        <label>
            <h4>Active?</h4>
            <InputCheckbox @bind-Value="@Model.IsActive"></InputCheckbox>
        </label>
        <p></p>
        <input type="submit" class="btn btn-primary" value="Save" />
        <p></p>
        <div>@Message</div>
    </MudGrid>
</EditForm>

@code {
    private String Message = String.Empty;

    public void CreateParticipant()
    {
        participantService.CreateAysnc(Model);
    }

    protected override async Task OnInitializedAsync()
    {
        var authState = await authenticationStateProvider.GetAuthenticationStateAsync();

        Model.UserName = authState.User.Identity?.Name ?? "Unknown user";
    }

    [Inject]
    public ParticipantFormViewModel Model { get; set; }
}
